{% extends "home.html" %}

{% block body %}
<div class="container">
  <h4>{{app.name}}</h4>
<table id="table">
  <thead class="thead-dark">
    <tr>
      <th data-field="id">ID</th>
      <th data-field="name">Table Name</th>
      <th data-field="verbose">Verbose Name</th>
    </tr>
  </thead>
</table>
    <!-- Large modal -->
        <a href="#" class="btn btn-danger btn-lg" role="button">提交</a>

        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalTable">
  添加
</button>
<div id="modalTable" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal table</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table id="stable"
          data-toggle="stable"
          data-height="299"
          >
          <thead>
            <tr>
              <th data-field="name" data-formatter="nameFormatter">字段名</th>
              <th data-field="field_type" data-formatter="typeFormatter">字段类型</th>
              <th data-field="fk" data-formatter="nameFormatter">关联外键</th>
              <th data-field="verbose" data-formatter="nameFormatter">字段别名</th>

            </tr>

          </thead>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">提交</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
    <a href="#" class="btn btn-secondary btn-lg" role="button">取消</a>

</div>


<script>
  var $table = $('#table')
  $('#myModal').modal()
  var $stable = $('#stable')

  $(function() {
    var data = [
      {
        'id': 0,
        'name': 'Item 0',
        'price': '$0'
      },
      {
        'id': 1,
        'name': 'Item 1',
        'price': '$1'
      },
      {
        'id': 2,
        'name': 'Item 2',
        'price': '$2'
      },
      {
        'id': 3,
        'name': 'Item 3',
        'price': '$3'
      },
      {
        'id': 4,
        'name': 'Item 4',
        'price': '$4'
      },
      {
        'id': 5,
        'name': 'Item 5',
        'price': '$5'
      }
    ]
    $table.bootstrapTable({data: data})
    $('#modalTable').on('shown.bs.modal', function () {
      $table.bootstrapTable('resetView')
        $stable.bootstrapTable({
          data: data
        })
    })
  })

  function typeFormatter(value) {



    return '<select>' +
            '{% for i in fields %}' +
        '<option value="{{i}}">{{fields[i]}}</option>' +
            '{% endfor %}' +
        '</select>'
  }
  function nameFormatter() {
      return '<input type="text">'
  }
</script>

{% endblock %}

