{% extends "home.html" %}

{% block body %}
<div class="container">
<table id="table">
  <thead>
    <tr>
      <th data-field="id">ID</th>
      <th data-field="name">Table Name</th>
      <th data-field="verbose">Verbose Name</th>
    </tr>
  </thead>
</table>
    <!-- Large modal -->
        <a href="#" class="btn btn-danger btn-lg" role="button">提交</a>

        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalTable">
  添加
</button>
<div id="modalTable" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal table</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table id="stable"
          data-toggle="stable"
          data-height="299"
          >
          <thead>
            <tr>
              <th data-field="id">ID</th>
              <th data-field="name">字段名</th>
              <th data-field="field_type" data-formatter="typeFormatter">字段类型</th>
              <th data-field="fk">关联外键</th>
              <th data-field="verbose">字段别名</th>

            </tr>
            <tr>
              <td data-field="id">1</td>
              <td data-field="name">"aa"</td>
              <td data-field="field_type" data-formatter="typeFormatter">字段类型</td>
              <td data-field="fk">关联外键</td>
              <td data-field="verbose">字段别名</td>

            </tr>
          </thead>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
    <a href="#" class="btn btn-secondary btn-lg" role="button">取消</a>

</div>


{% endblock %}